body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Viewport height */
}

header {  
  position: fixed;
  top: 0;
  width: 100%;
  height: 205px;
  z-index: 1000;
}
main {
  flex: 1; /* Main content takes up remaining space */
  padding: 1rem;
  margin-top: calc(205px); 
  overflow-y: auto;
  align-items: center;  /* 가운데 정렬 */
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

.ylw {
  --tw-bg-opacity: 1 !important;
  background-color: oklch(84.71% 0.199 83.87 / 1) !important;
}

.toggle-password {
  position: relative;
  cursor: pointer;
  font-size: 18px;
}

@media (min-width: 640px) {
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
